.container {
    font-family: 'Alata';
}

/* Start of CSS for the main part of portfolio */
.particles {
    position: absolute;
    height: 100vh;
    right: 0;
    left: 0;
}

.main {
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffef00 50%, #000000 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    display: flex;
    align-items: center;
    z-index: 1;
}

.main-box div {
    padding: 16px;
    border-right: 8px solid #ffffff;
    text-align: end;
}

.main-box div h1 {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 50px;
}

.main-box div p {
    margin-top: 0;
    margin-bottom: 64px;
    color: #ffffff;
    font-family: 'Arial';
    font-size: 24px;
}

.main-box img {
    height: 200px;
    width: 200px;
    margin-left: 16px;
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    border-left: 10px solid #ffef00;
    border-bottom: 10px solid #ffef00;
}

/* End of CSS for the main part of portfolio */

.about {
    background-image: url("../../resources/comp-bg.png");
    background-size: cover;
}

.carousel div {
    width: 60%;
    margin: 0 auto;
    padding: 16px 0 32px 0;
}

.carousel div ul {
    padding: 0;
    text-align: center;
    list-style: none;
    line-height: 300%;
    font-size: 24px;
    font-weight: bold;
}

.tech-stack ul li div img {
    width: 10%;
}

.skills ul li div  {
    width: 100%;
    padding: 0;
    margin: 0;
}