* {
    font-family: 'Alata';
}

.contact-form-div {
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.contact-form-div form .flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.input-field {
    width: 100%;
    padding: 12px 18px;
    margin: 12px 0;
    box-sizing: border-box;
    background-color: #ffef00;
    color: #000000;
    font-size: 16px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 2px solid #000000;
}

.contact-form-div form div button {
    margin-left: auto;
    padding: 10px 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    border: none;
    transition-duration: 400ms;
    cursor: pointer;
}

.contact-form-div form div button:hover {
    background-color: #ffef00;
    color: #000000;
}