footer {
    padding: 24px 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

footer div {
    padding: 8px 0;
}

footer a img {
    height: 40px;
    width: 40px;
    transition-duration: 400ms;
}

footer a img:hover {
    transform: scale(1.15);
}

footer p {
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: #ffef00;
}

footer p a:hover {
    color: #ffffff;
}